- breadcrumb_title _("Policies")
- @content_wrapper_class = 'js-security-policies-container-wrapper'
- disable_security_policy_project = !can_update_security_orchestration_policy_project?(project)
- default_environment_id = project.default_environment&.id || -1

#js-security-policies-list{ data: { assigned_policy_project: assigned_policy_project(project).to_json,
  default_environment_id: default_environment_id,
  disable_security_policy_project: disable_security_policy_project.to_s,
  documentation_path: help_page_path('user/application_security/policies/index.md'),
  empty_filter_svg_path: image_path('illustrations/issues.svg'),
  empty_list_svg_path: image_path('illustrations/security-dashboard_empty.svg'),
  new_policy_path: new_project_security_policy_path(project),
  environments_endpoint: project_environments_path(project),
  namespace_path: project.full_path } }
